@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: none;
   outline: none;
   scroll-behavior: smooth;
   font-family: "Poppins", sans-serif;
}

:root {
   --bg-color: #022140;
   --second-bg-color: #a12368;
   --text-color: #fff;
   --main-color: #0ff;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
}

body {
   background: var(--bg-color);
   color: var(--text-color);
}

.header {
    position: sticky;
    font-size: 1.5rem;
    top: 0;
    width: 100%;
    padding: 1.5rem 3%;
    background: var(--bg-color);
    z-index: 100;
}

.navbar  {
    display: flex;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: var(--second-bg-color);
}

.navbar a:hover {
    color: var(--main-color);
}

span {
   color: var(--main-color);
}

.contact .heading {
    font-size: 4.5rem;
    margin-top: 2.5em;
    text-align: center;
}

.contact {
    width: 100%;
    padding: 1em 5em;
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.timeline-column {
     display: flex; 
    flex-direction: column;
    
    align-items: center;
    width: 100%; 
    
    }



.timeline-column .timeline-content {
    border: 2px solid var(--main-color);
    font-size: 1.5em;
    border-radius: 0.5em;
    margin: 1em 0 ;
    padding: 1em; 
   max-width: 70vw;
    width: 100%; 
   overflow: hidden;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   
}

.timeline-content .text-content a {
    text-decoration: none;
    padding: 1em 2em 1em 0;
    transition: color 0.5s ease;
    color: var(--second-bg-color);
}

.timeline-content .text-content a:hover {
    color: var(--main-color);
}



 .timeline-column .timeline-content .image {
  
   
   display: flex;
    justify-content: flex-end;
    align-items: flex-end;
 
  margin-top: 1.5em;
  animation: floatImage 4s ease-in-out infinite;
}

.timeline-column .timeline-content .image img {
    max-width: 20vw;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1.5rem);
    }
    100% {
        transform: translateY(0);
    }
}
@media (max-width: 1120px) {
    html {
         font-size: 55%;
     }
     .timeline-column .timeline-content {
        width: 90%;
        border: 2px solid salmon;
 display: flex;
 flex-direction: column;
 
        
     }
    
     .timeline-column .timeline-content .image{
       width: 80%;
       display: flex;
    justify-content: flex-start;
    align-items: flex-start;
     }
    }

