@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: none;
   outline: none;
   scroll-behavior: smooth;
   font-family: "Poppins", sans-serif;
}

:root {
   --bg-color: #022140;
   --second-bg-color: #a12368;
   --text-color: #fff;
   --main-color: #0ff;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
}

body {
   background: var(--bg-color);
   color: var(--text-color);
}

.header {
    position: sticky;
    font-size: 1.5rem;
    top: 0;
    width: 100%;
    padding: 1.5rem 3%;
    background: var(--bg-color);
    z-index: 100;
}

.navbar  {
    display: flex;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: var(--second-bg-color);
}

.navbar a:hover {
    color: var(--main-color);
}

span {
   color: var(--main-color);
}

.contact .heading {
    font-size: 4.5rem;
    margin-top: 2.5em;
    text-align: center;
}

.contact {
    width: 100%;
    padding: 1em 5em;
    display: flex;
    flex-direction: column;  
    /* align-items: center; */
  
}

.contact form {
    width: 100%;
    max-width: 70vw;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    
    /* background: var(--second-bg-color); */
    padding: 1rem;
    /* border: 2px solid saddlebrown; */
}

.contact form .input-box {
 font-size: 2em;
 margin: .5em;
 line-height: 1.8;

}

.input-box input,
.input-box select {
    padding: .5em;
    width: 30%;
    /* border: 2px solid yellow; */
    margin: 1em .3em 1em .3em;
    background: var(--main-color);
    border-radius: .7em;
    color: var(--bg-color);
}


.input-box input::placeholder
{
    font-size: 0.9em;
   
}

 .input-box select.select {
    font-size: 0.9em;
    color: rgb(137, 143, 148);
    padding: .7em;
    
}



.input-box input:-webkit-autofill {
    -webkit-box-shadow: 0 0 90px var(--main-color) inset !important
}


.contact .btn {
    background-color: var(--second-bg-color);
    padding: .7em;
    width: 7.2em;
    margin: 1em;
    border-radius: .5em;
    font-size: 1.6em;
    text-align: center;
    color: var(--bg-color);
    transition: .5s ease;
    
}
.contact .btn:hover {
    /* background-color: #0ff; */
    box-shadow:  0 0 1.5rem var(--main-color);
}